<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Axiom" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.Framework" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.Platforms.OpenTK" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.Platforms.Win32" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.Plugins.CgProgramManager" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.Plugins.DevILCodecs" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.Plugins.FreeImageCodecs" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.Plugins.OctreeZone" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.Plugins.ParticleFX" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.Plugins.SystemDrawingCodecs" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.RenderSystems.DirectX9" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.RenderSystems.OpenGL.OpenTK" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.RenderSystems.Xna" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.RenderSystems.Xna.Content" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.SceneManagers.Bsp" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.SceneManagers.Octree" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.SceneManagers.PortalConnected" version="0.8.3376.12322" targetFramework="net45" />
  <package id="jQuery" version="2.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net45" />
</packages>